################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MetricConverter.Core/bin/Debug/netcoreapp3.1
